@media (max-width: 767px) {
  .navbaranasayfa {
    padding-left: 62px;
  }
}

.websitesi:hover {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.overlay:hover {
  opacity: 1;
}

.active {
  font-family: Rubik, sans-serif!important;
  font-weight: 500!important;
  color: #2B303F!important;
  border-bottom: 2px solid #F3563C!important;
}

